<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="classes">
  <test name="Firefor">
    <parameter name="browser" value="Firefox"/>
        <classes>
         <class name="test.Parallel"/>
        </classes>
  </test> <!-- Test -->
<test name="IE">
    <parameter name="browser" value="IE"/>
        <classes>
         <class name="test.Parallel"/>
        </classes>
        
  </test> <!-- Test -->
<test name="Multiple1">
<classes>
<class name="test.MultipleTest"/>
      <class name="test.VerifyText"/>

</classes>
  
</test>

</suite> <!-- Suite -->
